.join-connection-wrapper#app-join(class="hidden flex h-screen")
    .join-connection-cont(class="m-auto")
        .join-title Enter the code to connect
        .join-input(class="mt-5")
            input(type="text",class="block h-10 pl-2 text-xl font-bold tracking-widest text-center uppercase border-2 border-indigo-700 shadow focus:outline-none")
            button(class="w-full p-2 mt-5 text-white bg-indigo-700 rounded") connect
        .join-create-new-connection(class="mt-2 text-center text-indigo-700")
            button create new connection