.qr-code-wrapper#app-qrcode(class="hidden flex h-screen")
    .qr-code-container(class="m-auto")
        .qr-title   Scan the QR-CODE to connect using APP
        .qr-code(class="text-center text-3xl")    IMAGE
        .qr-code-to-text(class="text-center mt-2")    
            button(class="text-indigo-700") Manually Enter the code
        
