.success-wrapper#app-success(class='flex hidden h-screen')
    .success-container(class='m-auto')
        .success-title(class='text-3xl text-green-600') Successfully
        .success-message(class='text-center') Device Paired!!!